<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>

    <div class="container blog">
      <article>
        <% directory = "#{current_article.date.year}-#{current_article.date.strftime('%m')}-#{current_article.slug}" %>
        <header style="background-image: url(/blog/<%= directory %>/header.png); background-image: url(/blog/<%= directory %>/header.jpg)">
          <% if current_page.data.title %>
            <h2><%= current_page.data.title %></h2>
          <% end %>
        </header>

        <%= yield %>
        <hr />
        <p class="meta">Posted on <%= current_article.date.strftime('%b %e') %> by <%= current_article.data.author %></p>

        <%= disqus %>
        <%= disqus_count %>
      </article>
    </div>

    <%= partial "partials/footer" %>
  </body>
  </html>
