<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>

    <%= yield %>

    <%= partial "partials/footer" %>
  </body>
</html>
