<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="<%= data.content.meta.description %>">
    <meta name="keywords" content="<%= data.content.meta.keywords.join(', ') %>">
    <title>
      <% if defined?(event) %>
        <%= event.city %> |
      <% end %>
      <% if current_page.data.title %>
        <%= current_page.data.title %> |
      <% end %>
      ROSSConf
    </title>
    <link href="apple-touch-icon-152x152-precomposed.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon" sizes="144x144" />
    <link href="apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon" sizes="114x114" />
    <link href="apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon" sizes="72x72" />
    <link href="apple-touch-icon-precomposed.png" rel="apple-touch-icon" />
    <link href="favicon.ico" rel="shortcut icon" />
    <link href="favicon.ico" rel="icon" type="image/ico" />
    <%= stylesheet_link_tag "normalize", "all" %>
  </head>
  <body class="<%= page_classes %>">
    <header>
      <div class="container">
        <a href="/"><%= image_tag "basic_logo.png", alt: 'ROSSConf' %></a>

        <nav class="main">
          <ul>
            <li class="nav-link"><%= link_to "Code of Conduct", "/code-of-conduct" %></li>
            <li class="nav-link"><%= link_to "Contact", "/#footer" %></li>
          </ul>
        </nav>

      </div>
    </header>

    <%= yield %>

    <footer id="footer">
      <div class="container">
        <p><a href="https://www.flickr.com/photos/bcnbits/2101901830/sizes/o/" target="_blank">photo credit</a> | <a href="http://www.dannylelieveld.com/" target="_blank">logo by Danny Lelieveld</a> | <a href="http://generator.rossconf.io/" target="_blank">logo animation by Sebastian Gräßl</a></p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <%= javascript_include_tag  "application" %>
    <%= partial 'partials/analytics' %>
  </body>
</html>
