<% if sponsors %>
  <section class="sponsors" id="sponsors">
    <div class="container">
      <h3>Partners</h3>
      <% sponsors.each do |sponsor| %>
        <div class="sponsor<%= (sponsor.gold == true ? ' gold' : '') %>">
          <a href="<%= sponsor.url %>" target="_blank">
            <span class="helper"></span>
            <img src="<%= sponsor.image %>" /></a>
        </div>
        <%= (sponsor.gold == true ? '<br />' : '') %>
      <% end %>
      <p class="sponsoring">
        <strong><a href="mailto:<%= event.sponsoring_email %>?subject=Sponsoring ROSS conf <%= event.city %>">Want to help us out as well?</a></strong>
      </p>
    </div>
  </section>
<% end %>
