<section class="projects" id="projects">
  <div class="container">
    <h2>Presentations</h2>
    <% projects.each do |project| %>
      <div class="l_cell-row project">
        <div class="l_image-cell">
          <%= image_tag project.maintainer.image_url, alt: project.maintainer.name %>
        </div>
        <div class="l_text-cell">
          <div class="maintainer-container">
            <% mtr = project.maintainer %>
            <h4 class="project-title-hint">maintainer</h4>
            <h3 class="project-subhead subhead">
              <span class="project-subhead-title">
                <%= mtr.name %>
              </span>
              <ul class="maintainer-social-links list-horizontal">
                <% %w(twitter github).each do |social| %>
                  <% unless mtr[social].nil? %>
                    <li class="social-social">
                      <% link_to "https://#{social}.com/#{mtr.send(social)}" do %>
                        <i class="icon-<%= social %>"></i>
                      <% end %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </h3>
            <div class="body">
              <%= md2(project.maintainer.bio) %>
            </div>
          </div>
          <div class="project-container">
            <div class="project-title">
              <div class="project-title-text">
                <h4 class="project-title-hint">project</h4>
                <h3 class="subhead project-subhead"><%= project.name %></h3>
              </div>
              <div class="project-title-logo">
                <%= image_tag project.image_url, alt: project.name %>
              </div>
            </div>
            <div class="body">
              <%= md2(project.description) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
