---
title: rossconf
---
<header>
  <%= image_tag "header-bg.jpg", class: "header-image", alt: 'Ruby Open Source Software Conference Vienna' %>
  <%= image_tag "basic_logo.png", class: "header-logo", alt: 'ROSSConf Vienna' %>
  <h2 class="header-date">April 25, 2015</h2>
  <h2 class="header-location">sektor5</h2>
</header>


<section class="intro">
  <div class="container">
    <p>ROSS Conf is a one day mini-conference bringing Open Source Software maintainers and developers together in one room. The projects participating in its first edition include exercism.io from Katrina Owen and RVM from Michal Papis. In the morning bit the project owners will introduce their projects and share what would need work in the afternoon hackathon-y part.</p>
    <p>We ask for a €15 deposit which you will get back upon attendance.</p>
    <p>Come help make free-and-amazing software April 25th.</p>
  </div>
</section>

<%= partial "partials/speakers" %>
<%= partial "partials/projects" %>
<%= partial "partials/schedule" %>
<%= partial "partials/team" %>


<div id="location">
  <h3>Location</h3>
  <p><a href="http://sektor5.at/" target="_blank">sektor5</a><br>
    Siebenbrunnengasse 44</br>
    1050 Vienna
  </p>
</div>

<div id="register">
</div>

<div id="coc">
  <h3>Code of conduct</h3>
   <p>All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.</p>
   <strong>tl;dr: Don’t be a Jerk</strong>

   <h4>Need our Help?</h4>
   <p>At any time you can walk up to one of our team members and report your concern. Else: shoot an email at ross@sektor5.at.</p>

   <h4>The Quick Version</h4>
   <p>Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form.</p>

   <p>Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules will be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.</p>

   <h4>The Less Quick Version</h4>
   <p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

   <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

   <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing / uniforms / costumes, or otherwise create a sexualized environment.</p>

   <p>If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>

   <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified as they’ll be wearing branded t-shirts.</p>

   <p>Conference staff will be happy to help participants contact hotel / venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>

   <p>We expect participants to follow these rules at conference and workshop venues and conference-related social events.</p>

   <p>Based on the <a href="" target="_blank">http://2012.jsconf.us/#/about</a> & <a href="" target="_blank">The Ada Initiative Code of Conduct</a>
</div>

<div id="sponsors">
  <h3>Sponsors</h3>
  <a href="http://www.codeship.io" target="_blank"><img src="/images/sponsors/codeship.png" width="200px" /></a>
  <a href="http://www.github.com" target="_blank"><img src="/images/sponsors/github.png" width="200px" /></a>

</div>

<footer>
  <a href="https://twitter.com/ROSSVienna" target="_blank">Twitter</a> | <a href="http://www.meetup.com/vienna-rb/" target="_blank">Meetup</a>
</footer>
