---
title: rossconf
---
<header>
  <%= image_tag "header-bg.jpg", class: "header-image", alt: 'Ruby Open Source Software Conference Vienna' %>
  <%= image_tag "basic_logo.png", class: "header-logo", alt: 'ROSSConf Vienna' %>
  <h2 class="header-date">April 25, 2015</h2>
  <h2 class="header-location">sektor5</h2>
</header>


<section class="intro">
  <div class="container">
    <p>ROSS Conf is a one day mini-conference bringing Open Source Software maintainers and developers together in one room. The projects participating in its first edition include exercism.io from Katrina Owen and RVM from Michal Papis. In the morning bit the project owners will introduce their projects and share what would need work in the afternoon hackathon-y part.</p>
    <p>We ask for a €15 deposit which you will get back upon attendance.</p>
    <p>Come help make free-and-amazing software April 25th.</p>
  </div>
</section>

<div id="register">
</div>

<%= partial "partials/speakers" %>
<%= partial "partials/projects" %>
<%= partial "partials/schedule" %>
<%= partial "partials/team" %>
<%= partial "partials/location" %>
<%= partial "partials/coc" %>



<div id="sponsors">
  <h3>Sponsors</h3>
  <a href="http://www.codeship.io" target="_blank"><img src="/images/sponsors/codeship.png" width="200px" /></a>
  <a href="http://www.github.com" target="_blank"><img src="/images/sponsors/github.png" width="200px" /></a>

</div>

<footer>
  <a href="https://twitter.com/ROSSVienna" target="_blank">Twitter</a> | <a href="http://www.meetup.com/vienna-rb/" target="_blank">Meetup</a>
</footer>
