<%- multi_day ||= false %>
<% if schedule %>
  <section class="schedule" id="schedule">
    <div class="container">
      <h2>Schedule</h2>
      <% if (video_links rescue false) %>
        <div>Join us on YouTube</div>
        <%- video_links.each do |title, url| %>
          <div>
            <a href='<%= url %>'><%= title %></a>
          </div>
        <%- end %>
      <%- end %>
      <% if (calendar rescue false) %>
        <br>
        <div>Don't be late</div>
        <div>
          Add the event to your calendar and visit this page when the event starts.
          <br>
          <a href="<%=calendar%>" class="button">＋ Add to calendar</a>
        </div>
      <%- end %>
      <% if multi_day %>
        <% schedule.each do |day, activities| %>
          <h3><%= day %></h3>
          <%= partial "partials/event/activities_table", locals: { activities: activities } %>
        <% end %>
      <% else %>
        <%= partial "partials/event/activities_table", locals: { activities: schedule } %>
      <% end %>
    </div>
  </section>
<% end %>
