<% theme ||= "dark" %>
<% if team %>
  <% show_description = team.all? { |p| p.position.present? } %>
  <section class="team <%= theme %>" id="team">
    <div class="container">
      <h2>Team</h2>
      <% team.each do |person| %>
        <div class="item">
          <div class="image">
            <%= image_tag person.image_url, class: "image-round", alt: person.name %>
          </div>
          <h3 class="title">
            <%= person.name %>
          </h3>
          <% if show_description %>
          <div class="description">
            <small><%= person.position %></small>
          </div>
          <% end %>
          <div class="footer">
            <% %w(twitter github).each do |social|  %>
              <% if person.send(social) %>
                <span class="social-link">
                  <% link_to "https://#{social}.com/#{person.send(social)}" do %>
                    <i class="icon-<%= social %>"></i>
                  <% end %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
